<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		.basic {
			width: 900px;
			height: 700px;
			border-radius: 30px;
			border: 2px purple solid;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			margin-right: auto;
			margin-left: auto;
			margin-top: 30px;
			text-align: center;
		}

		.day {
			background-color: rgb(255, 255, 255);
			color: rgb(26, 26, 26);
		}

		.night {
			background-color: rgb(49, 49, 49);
			color: rgb(226, 226, 226);
		}
	</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body style="background-color: #3b3b3b;">
	<div id="bobp" class="basic" :class="color">
		<P>今天是个好日子啊!天气{{weatherQ}}</P>
		<button @click="turnWeather()">点我</button>
		<p>老Tom今年:{{dbqs.tom}}</p>
		<button @click="dbqs.tom++">加一</button>
		<hr style="width: 80%;margin-left: auto;margin-right: auto;margin-top: 3px;margin-bottom: 3px;">
		<button @click="change">改变</button>
		<p v-if="codelang[0] == 'Java'">{{codelang[0]}}</p>
		<p v-else-if="codelang[1] == 'Python'">{{codelang[1]}}</p>
		<p v-if="codelang[2] == 'Cpp'">{{codelang[2]}}</p>
		<p v-else>{{codelang[3]}}</p>
		<hr style="width: 80%;margin-left: auto;margin-right: auto;margin-top: 3px;margin-bottom: 3px;">
		<button @click.once="adduser">click me!</button>
		<ul style="list-style-type: none;margin:  auto;padding: 0;border: orange 1px solid;width: 80%;">
			<li v-for="item in user" :key="item.uuid" style="margin-top: 5px;margin-bottom: 5px;">
				{{item.name}} --- {{item.uuid}}<input type="text" :placeholder="item.name"> </li>
		</ul>

	</div>
	<script src="vue.js"></script>
	<script>
		Vue.config.productionTip = false
		Vue.config.devtools = false
		const shit = new Vue({
			data() {
				return {
					temperature: true,
					color: "night",
					dbqs: {
						tom: 20,
						jerry: 19,
						seapus: 65
					},
					codelang:["Java","Python","Cpp","Golang"],
					user:[
						{uuid:123,name:"lixuan",sex:0},
						{uuid:124,name:"baiyu",sex:1},
						{uuid:163,name:"liujing",sex:1},
					],
				}
			},
			methods: {
				turnWeather() {
					// this.temperature == true ? this.temperature = false :this.temperature = true
					this.temperature = !this.temperature
				},
				change() {
					this.color == "day" ? this.color = "night" : this.color = "day"
				},
				adduser(){
					// 这个函数在调用的 时候需要加上.once，否则会一直加人
					this.user.unshift({uuid:156,name:"lixi",sex:1})
					// unshift() 直接把数据干到最上面
					// push() 数据加在最后面
				}
			},
			computed: {
				weatherQ: {
					get() {
						return this.temperature ? "很热" : "凉爽"
					}
				}
			},
			watch: {

				temperature(a, b) {
					console.log(a + "----" + b)
				},
				// "dbqs.tom":{
				// 	handler(a,b){
				// 		console.log(a+"----"+b)
				// 	}
				// },
				dbqs: {
					deep: true,
					handler(a, b, c) {
						console.log(a.tom + "----" + b.tom)
					}
				}
			},
		})
		shit.$mount("#bobp")
	</script>
</body>

</html>